<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control name="DbotCanHardwareSystem" type="system">
        <hardware>
            <!-- By default, set up controllers for simulation. This won't work on real hardware -->
            <plugin>dbot_can_hardware/DbotCanHardware</plugin>
            <param name="can_name">vcan0</param>
            <param name="can_id_j0">1</param>
            <param name="can_id_j1">2</param>
            <param name="can_id_j2">3</param>
            <param name="can_id_j3">4</param>
            <param name="can_id_j4">5</param>
            <param name="can_id_j5">6</param>
            <param name="redc_ratio_j0">48.0</param>
            <param name="redc_ratio_j1">48.0</param>
            <param name="redc_ratio_j2">48.0</param>
            <param name="redc_ratio_j3">48.0</param>
            <param name="redc_ratio_j4">48.0</param>
            <param name="redc_ratio_j5">48.0</param>
        </hardware>
        <joint name="j0_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="j1_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="j2_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="j3_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="j4_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
        <joint name="j5_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>
</robot>