<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dbot">

    <!-- Import dbot urdf file -->
    <!-- <xacro:include filename="dbot.urdf.xacro"/> -->
    <xacro:include filename="dbot_world.xacro"/>

    <!-- Import gazebo -->
    <xacro:include filename="dbot_gazebo_ros2_control.xacro" />

</robot>
